* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.navbar-brand {
  font-weight: 800;
}

.firstPage {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/bgblue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.nav-item .nav-link {
  font-weight: 700;
  color: beige;
}

.hi-text {
  font-size: 2rem;
  font-weight: 700;
  color: bisque;
}

.name-text {
  font-size: 3rem;
  font-weight: 700;
  color: bisque;
}

.prof-text {
  font-size: 3rem;
  font-weight: 700;
  color: bisque;
}

.auto-type {
  color: aqua;
  font-weight: 700;
}
