* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.navbar-brand {
  font-weight: 800;
}

.firstPage {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/bgblue.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.nav-item .nav-link {
  font-weight: 700;
  color: beige;
}

.nav-link:hover {
  color: aqua !important;
}

.hi-text {
  font-size: 3vw;
  font-weight: 700;
  color: bisque;
}

.name-text {
  font-size: 3vw;
  font-weight: 700;
  color: bisque;
}

.prof-text {
  font-size: 3vw;
  font-weight: 700;
  color: bisque;
}

.auto-type {
  color: aqua;
  font-weight: 700;
}

.section-2 {
  background-color: #7fc7d9;
}

.rectangle {
  width: 20rem;
  height: 25rem;
  background-color: lightblue;
  position: relative;
}

.imgCircle {
  width: 200px;
  height: 200px;
  background: url('./images/profpic.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: 55px;
  /* Adjust this value to change the overlap */
}

/* Card */

/* Card */
